<html>
<head>	<link rel="stylesheet" href="css/bootstrap.css">
		<script
		  src="https://code.jquery.com/jquery-3.3.1.min.js"
		  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		  crossorigin="anonymous">
	  	</script>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.7/dist/vue.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB868-3Dygb5Rc13JzU_ghFNznsulf6AEI&libraries=places&"></script>
		<script src="main.js"></script>
		<style>
			.form-group{
				margin-left: auto;
				margin-right: auto;
				max-width: 50%;
				max-height: 50%;
			}

			td {
				cursor: pointer;
			}
			.selected {
				background-color: #66CDAA;
				color:#FFFFFF;
			}
			.table thead {
				background-color: #FFEBCD;
				margin-left:auto;
				margin-right:auto;
				max-width: 800px;
			}
			.table tbody {
				background-color: #E0FFFF;
			}
			#map {
				margin-top: 10px;
				height: 30%;
				width: 100%;
			}
			.col-sm-3 {
				height: 100%;
				background-color: #F0FFFF;
				overflow: auto;
			}
			.col-sm-6 {
				height: 100%;
				background-color: #FFF5EE;
				overflow: auto;
			}
			.error {
				margin-left:auto;
				margin-right:auto;
			}
			.phone {
				margin-top: 10px;
			}
		</style>
</head>
<body><div class="row">
  <div class="col-sm-3"></div>
	<div class="col-sm-6" id="main">
		<form id="addressForm" @submit.prevent.stop="checkForm">
			<div
				v-bind:class="{
					'form-group': true,
					'has-error': errors.firstName && !contact.firstName
				}"
			>
	    		<label for="firstName">First Name</label>
	    		<input type="text" class="form-control" id="firstName"@blur="checkEmpty(contact.firstName)" v-model.trim="contact.firstName" placeholder="John">
	    		<p v-if="errors.firstName && !contact.firstName"> {{errors.firstName}} </p>
	    	</div>
	    	<div
	    		v-bind:class="{
					'form-group': true,
					'has-error':  errors.lastName && !contact.lastName
				}"
			>
	    		<label for="lastName">Last Name</label>
	    		<input type="text" class="form-control" id="lastName" @blur="checkEmpty(contact.lastName)" v-model.trim="contact.lastName" placeholder="Doe">
	    		<p v-if="!contact.lastName"> {{errors.lastName}}</p>
	    		<p v-else= "errors.lastName = null"></p>
	    	</div>
	    	<div
	    		v-bind:class="{
					'form-group': true,
					'has-error': errors.address && !contact.address
				}"
			>
			<label for="Address">Address</label>
	    		<input type="text" class="form-control" id="address" @blur="checkEmpty(contact.address)" v-model.trim="contact.address">
	    		<p v-if="errors.address && !contact.address"> {{errors.address}}</p>
	    		<div class ="map" id="map"></div>
	    	</div>
	    	<div
	    		v-bind:class="{
					'form-group': true,
					'has-error': errors.phoneNumber && (!validPhone(contact.phoneNumber) || !contact.phoneNumber)
				}"
			>
			<label for="PhoneNumber">Phone Number</label>
	    		<input type="text" minlength="2" maxlength="10" class="form-control" id="phoneNumber" @blur="checkEmpty(contact.phoneNumber)" v-model.trim="contact.phoneNumber">
	    		<p v-if="errors.phoneNumber && (!contact.phoneNumber)"> Please fill in your Phone Number</p>
	    		<p v-else-if="errors.phoneNumber && !validPhone(contact.phoneNumber)">Please enter a valid Phone Number</p>
	    	</div>
	    	<div
	    		v-bind:class="{
					'form-group': true,
					'has-error': errors.email && (!validEmail(contact.email) || !contact.email)
				}"
			>
			<label for ="email">EMail</label>
	    		<input type="email" class="form-control" id="email" @blur="checkEmpty(contact.email)" v-model.trim="contact.email">
	    		<p v-if="errors.email && (!contact.email)">Please fill in your email address</p>
	    		<p v-else-if="errors.email && !validEmail(contact.email)">Please enter a valid email address</p>
	    	</div>
	    	<div class="text-center">
				<button class="btn btn-primary" type="submit" value="Submit" id="add">Submit</button>
			</div>
		</form>
		<table class="table" v-bind:class="{hidden: isHidden}">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">First Name</th>
					<th scope="col">Last Name</th>
					<th scope="col">Address</th>
					<th scope="col">Phone</th>
					<th scope="col">EMail</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="(contact,index) in contacts" v-on:click="selectContact(index)" v-bind:class="{selected: selectedIndex === index}">
					<td>{{index}}</td>
					<td>{{contact.firstName}}</td>
					<td>{{contact.lastName}}</td>
					<td>{{contact.address}}</td>
					<td>{{contact.phoneNumber}}</td>
					<td>{{contact.email}}</td>
				</tr>
			</tbody>
		</table>
		<div class='form-inline'>
			<div class="text-center">
				<button class="btn btn-warning" id="edit" v-on:click="editContact" v-bind:class="{hidden: isBeingEdited === true || isHidden === true}">Edit</button>
				<button class="btn btn-danger" id="remove" v-on:click="removeContact" v-bind:class="{hidden: isBeingEdited === true || isHidden === true}">Remove</button>
			</div>
		</div>
	</div>
<div class="col-sm-3"></div>
</div>

 </body>
</html>
